.footer {
    background-color: #3d9970;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.footer a:hover {
    color: #4caf50;
}

