body {
  background-color: #FE4F32;
}

p {
  background-color: #3d9970;
  color: white;
}

a {
  color: #3d9970;
  text-decoration: none;
}

h1, h2, h3, h4{
  padding: 20px;
  color: white;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}